.App {
  text-align: center;
  padding-top: 40px;
}

.useEffect{
  height: 30px;
  padding: 5px 20px;
  border-radius: 15px;
  width: 90%;
  margin: auto;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  background: #5d5d5d;
}
.link{
  color: white;
  font-size: 24px;
  text-decoration: none;
  cursor: pointer;
}
.link:hover{
  color: #2d2d2d;
}


